{{- if .Ancestors -}}
    {{- $ancestors := .Ancestors.Reverse -}}
    {{- /* Check that this is not a second-level page. */ -}}
    {{- if gt (len (after 1 $ancestors)) 0 -}}
        {{- /* Skip the first element (top level) in the breadcrumbs */ -}}
        {{- range $index, $element := after 1 $ancestors -}}
        <li class="breadcrumbs__item">
            <a href="{{ .RelPermalink }}" class="breadcrumbs__link">
                {{- if and (eq $index 0) -}}
                    {{- if eq .Language.Lang "ru" -}}Документация{{- else -}}Documentation{{- end -}}
                {{- else -}}
                    {{- .LinkTitle -}}
                {{- end -}}
            </a>
        </li>
        {{- end }}
        <li class="breadcrumbs__item breadcrumbs__item--current">
            <span class="breadcrumbs__current">{{ .LinkTitle }}</span>
        </li>
    {{- end -}}
{{- end -}}