<!DOCTYPE html>
{{- $lang := .Language.Lang }}
<html lang="{{- $lang }}">
  <head>
  {{- partial "head" . }}
  {{- "<!--#include virtual=\"/includes/head-site.html\" -->"  | safeHTML }}
  </head>
  <body>
    <div class="content">
     {{- $partialPath := "header.html" }} {{/* Set a default */}}
     {{- with .Site.Params.productCode }}
       {{- $partialPath = printf "header-%s.html" . }}
     {{- end }}
     {{- printf "<!--#include virtual=\"/includes/%s\" -->" $partialPath | safeHTML }}

     <div class="container">
{{- $showBreadcrumbs := ne .Params.breadcrumbs false }}
{{- $showSidebar := ne .Params.sidebar false }}
{{- $showToc := ne .Params.toc false }}
{{- $showSearch := .Site.Params.offlineSearch }}

       {{ if or $showBreadcrumbs $showSearch }}
       <!--noindex-->
       <div class="navigation__container">
         <div class="navigation__container--versions"></div>
         {{ if $showBreadcrumbs }}
         <div class="breadcrumbs__container">
             <ol class="breadcrumbs">
               {{- partial "breadcrumbs" . }}
             </ol>
         </div>
         {{ end }}
         {{ if $showSearch }}
         <!--start search-->
           <div class="searchV3">
             <div class="container">
               <div class="input-wrapper">
                 <input type="text" id="search-input" placeholder='{{ T "search_placeholder_text" }}' class="input"
                 data-search-index-path='{{ strings.TrimSuffix "/" (urls.Parse site.BaseURL).Path }}/documentation/search.json:1.0'
                 data-search-context='{{ T "search_context_message" }}'
                 >
                 <div id="search-results" class="results" style="display: none"></div>
               </div>
             </div>
           </div>
           <!--end search-->
           <!--loading search JS-->
           <script type="text/javascript" src='/assets/js/fuse.min.js?v={{ .Site.Lastmod | time.Format ":date_long" | hash.FNV32a }}' ></script>
           <script type="text/javascript" src='/assets/js/search-v3.js?v={{ .Site.Lastmod | time.Format ":date_long" | hash.FNV32a }}' ></script>
           <!--end loading search JS-->
         {{ end }}
       </div>
       <!--/noindex-->
       {{ end }}

       <div class="layout-sidebar{{ if not $showSidebar }} layout-sidebar--no-sidebar{{ end }}{{ if not $showToc }} layout-sidebar--no-toc{{ end }}">
         {{ if $showSidebar }}
         <div class="layout-sidebar__sidebar">
           {{- partial "sidebar" . }}
         </div>
         {{ end }}
         <div class="layout-sidebar__content">
           {{- block "main" . }}
           {{- end }}
         </div>
         {{ if $showToc }}
         <div class="layout-sidebar__sidebar_right">
           {{- partial "toc" . }}
         </div>
         {{ end }}
       </div>
     </div>

     </div>
     {{- "<!--#include virtual=\"/includes/footer.html\" -->"  | safeHTML }}

  <script type="text/javascript">
    $(document).ready(function () {
      let url;
      let changes = false;

      try {
        url = new URL($('a.language-button').attr("href"));
      } catch {
        url = new URL(window.location);
      }

{{- if eq site.Params.mode "module" }}
      if (window.location.pathname.match(/^\/ru\//)) {
        url.pathname = window.location.pathname.replace(/^\/ru\//, '/en/');
        changes = true;
      } else if (window.location.pathname.match(/^\/en\//)) {
        url.pathname = window.location.pathname.replace(/^\/en\//, '/ru/');
        changes = true;
      }
{{- else }}
      switch (window.location.host) {
        case 'localhost':
          url.host = 'ru.localhost';
          url.protocol = 'http:';
          changes = true;
          break;
        case 'ru.localhost':
          url.host = 'localhost';
          url.protocol = 'http:';
          changes = true;
          break;
      }
      if (window.location.host.match(/^deckhouse-ru\..+\.flant.dev$/)) {
        url.host = window.location.host.replace('deckhouse-ru.', 'deckhouse.');
        changes = true;
      } else if (window.location.host.match(/^deckhouse\..+\.flant.dev$/)) {
        url.host = window.location.host.replace('deckhouse.', 'deckhouse-ru.');
        changes = true;
      }
{{- end }}

      if (url.pathname === '/') {
        url.pathname = window.location.pathname;
        changes = true;
      }

      if (changes) {
        $('a.language-button').attr("href", url.href);
      }

    });

  </script>
{{ if .Store.Get "hasMermaid" }}
  <script src="/assets/js/mermaid.min.js"></script>
  <script>mermaid.initialize({ startOnLoad: true });</script>
{{ end }}
{{- if .Store.Get "tabs-nested-reset" -}}
  {{- partial "tabs-nested-reset.html" . -}}
{{- end -}}

  </body>
</html>
